header{
    display: flex;
    background-color: #1A94FF;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A94FF;
    max-width: 77.5rem;
    min-width: 40rem;
    width: max-content;
}
.logo-header {
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
}
.logo-header a:nth-child(1){
    padding: 5px 0px 0px 0px;
}
.logo-header a:nth-child(1) img {
    width: 60px;
    height: 40px;
}


.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.search-input {
    font-size: 14px;
    font-weight: 500;
    width: 626px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.search-input::placeholder {
    font-size: 14px;
    font-weight: 300;
}

.search-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #0D5CB6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.end-header{
    display: flex;
    flex-wrap: wrap;
}
.end-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
}
.auth-container > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3px 2px;
    color: #fff;
    height: 100%;
    
}
.auth-container span  span {
    font-size: 11px;
    margin-left: 5px;
}
.auth-container span  p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 3px;
 
}
 .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 26px;
    z-index: 14;
}
 .options >  .head__icon {
    position: absolute;
    display: block;
    z-index: 14;
    
}
.options >  .head__icon svg > path {
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
}
 .options .user__option {
    display: block;
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    width: auto;
    min-width: 246px;
    z-index: 15;
    list-style: none;
    margin: 0px;
    /* padding: 10px 0px; */
    border-radius: 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    position: absolute;
    top: 45px;
    left: calc(50% + 10px);
    transform: translateX(-50%);

}
.MuiListItemText-primary {
    font-size: 12px !important;
    font: "Roboto";
}


.cart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
}
.cart-badge {
    color: #fff;
    background: rgb(253, 216, 53);
    height: 20px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    padding: 0px 7px;
}
.cart-title{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    align-self: flex-end;
    padding-left: 7px;
    margin-bottom: 2px;
}

.category-search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}
.category-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.category-links li{
    list-style: none;
    margin: 0 12px 0 0;
}
.category-links li a{
    text-transform: lowercase;
    font-size: 11px;
    font-weight: 400;

}

.store-container{
    display: flex;
    padding-left: 120px; /*edit*/
    padding-top: 10px;
}
.btn-store-together{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    width: 100%;
    /* background-color: #51ADFF; */
    height: 22px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.store-container span{
    font-size: 12px;
    padding-left: 5px;
}

