/* suggestions */
.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header__suggestions {
    position: sticky;
    top: 0;
    background-color: #F5F5FA;
  }
  .suggestions__title span{
    width: 100%;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
    color: #242424;
  }
  
  .collections__list {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    /* height: 150px; */
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    /* grid-template-rows: 150px; */
    gap: 0.5rem;
    padding: 0.5rem 0;
  }
  
  .suggestion__contents {
    max-width: fit-content;
    background-color: #F5F5FA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    overflow: hidden;
  }
  .suggestion__contents .load__more {
    margin: 1rem 0;
    color: #1A94FF;
    border: solid 0.2px #1A94FF !important;
    background-color: transparent;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    min-width: 10rem;
    min-height: 2rem;
    width: 12rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .suggestion__contents .load__more:hover {
    background-color: #1A94FF;
    color: #fff;
  }
  .is__loading {
    background-color: #1A94FF !important;
    color: #fff !important;
  }
  